.container{
	position: relative;
	border-collapse: collapse;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*box-sizing: border-box;*/
}

.sizeform {
	text-align: center;
	margin-bottom: 10px;
}
body
{
	height: 100vh;
	/*background-image: linear-gradient(0deg,#888,#222 50%, #111 75%);*/
}
h1  {
	text-align: center;

}
#reset{
	text-align: center;
	margin-bottom: 30px;

}

.cell { 
	float: left;
	margin: 0;
	padding: 0;
	border: 0px solid black;
	box-sizing:border-box;
} 
.blackcell{
	background-color: black;
}
